<div id="header" th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <img align="left" alt="book" height="30" src="https://mcgtn.org/storage/logos/library-logo.png"/>
        <a class="d-flex align-items-center text-dark text-decoration-none" href="/">
            <span class="fs-4">Библиотека</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/library/1">Книги</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/archive/1">Книжный архив</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/authors/1">Авторы</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/publishers/1">Издатели</a>
        </nav>
    </div>

</div>