<div th:fragment="nav">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" th:href="@{/{url}/{page}(page=${currentPageNum-1}, url=${url})}"
                                     th:if="${currentPageNum!=1}">Назад</a>
            </li>
            <li class="page-item disabled"><a class="page-link"
                                              th:href="@{/{url}/{page}(page=${currentPageNum-1}, url=${url})}"
                                              th:if="${currentPageNum==1}">Назад</a>
            </li>
            <li aria-current="page" class="page-item active">
                <a class="page-link" th:text="${currentPageNum}">current<span class="   sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" th:href="@{/{url}/{page}(page=${currentPageNum+1}, url=${url})}"
                                     th:if="${!isLastPage}">Вперед</a>
            </li>
            <li class="page-item disabled"><a class="page-link"
                                              th:href="@{/{url}/{page}(page=${currentPageNum+1}, url=${url})}"
                                              th:if="${isLastPage}">Вперед</a>
            </li>
        </ul>
    </nav>
</div>